<div class="row">

  <div class="col-md-12" >
    <div
          ba-panel
          ba-panel-title="Agregar/Editar Cliente"
          ba-panel-class="with-scroll">
    <form>
      <div class="row">

        <div class="col-md-6">
          <div class="form-group">
            <label>RUT</label>
            <input type="text" class="form-control" ng-model="client.rut" placeholder="RUT">
          </div>
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" ng-model="client.nombre" placeholder="Nombre">
          </div>
          <div class="form-group">
            <label>Origen</label>
            <input type="text" class="form-control" ng-model="client.origen" placeholder="Origen">
          </div>
          <div class="form-group">
            <label>Fecha Nacimiento</label>
            <input type="text" class="form-control" ng-model="client.fnac" placeholder="Fecha Nacimiento">
          </div>
          <div class="form-group">
            <label>Madre</label>
            <input type="text" class="form-control" ng-model="client.madre" placeholder="Madre">
          </div>
          <div class="form-group">
            <label>Padre</label>
            <input type="text" class="form-control" ng-model="client.padre" placeholder="Padre">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Letras</label>
            <input type="text" class="form-control" ng-model="client.letras" placeholder="Letras">
          </div>
          <div class="form-group">
            <label>Trabajo 1</label>
            <input type="text" class="form-control" ng-model="client.tra1" placeholder="Trabajo 1">
          </div>
          <div class="form-group">
            <label>Trabajo 2</label>
            <input type="text" class="form-control" ng-model="client.tra2" placeholder="Trabajo 2">
          </div>
          <div class="form-group">
            <label>Trabajo 3</label>
            <input type="text" class="form-control" ng-model="client.tra3" placeholder="Trabajo 3">
          </div>
          <div class="form-group">
            <label>Observacion</label>
            <input type="text" class="form-control" ng-model="client.obser" placeholder="Observacion">
          </div>
        </div>
      </div>
      <button class="btn btn-primary pull-right" ng-click="addContact()" ng-if="addFormShow">Agregar</button>
      <button class="btn btn-warning pull-right" ng-click="editContact()" ng-if="editFormShow">Guardar</button>     
      <button class="btn btn-default pull-right" ng-click="cancelEdit()" ng-if="editFormShow">Cancelar</button>
    </form>
    </div>
  </div>

</div>


<div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Smart Table With Filtering, Sorting And Pagination" ba-panel-class="with-scroll">
        <div class="horizontal-scroll">
          <div class="form-group select-page-size-wrap ">
            <label>Rows on page
              <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                      ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
              </select>
            </label>
          </div>
          <table class="table" st-table="displayedCollection" st-safe-src="rowCollection" ng-if="contacts.length > 0">
            <thead>
            <tr class="sortable ">
              <!--<th class="table-id" st-sort="id" st-sort-default="true">#</th>-->
              <th></th>
              <th st-sort="rut">RUT</th>
              <th st-sort="nombre">Nombre</th>
              <th st-sort="origen">Origen</th>
              <th st-sort="fnac">F. Nac</th>
              <th>Actions</th>
              <!--<th st-sort="age">Age</th>-->
            </tr>
            <tr>
              <th></th>
              <th><input st-search="rut" placeholder="Busca RUT" class="input-sm form-control search-input"
                        type="search"/></th>
              <th><input st-search="nombre" placeholder="Busca Nombre" class="input-sm form-control search-input"
                        type="search"/></th>
              <th><input st-search="origen" placeholder="Busca Origen" class="input-sm form-control search-input"
                        type="search"/></th>
              <th><input st-search="fnac" placeholder="Busca F.Nac." class="input-sm form-control search-input"
                        type="search"/></th>
              <th></th>
              <!--<th><input st-search="email" placeholder="Search Email" class="input-sm form-control search-input" type="search"/>
              </th>
              <th><input st-search="age" placeholder="Search Age" class="input-sm form-control search-input" type="search"/>
              </th>-->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in displayedCollection | reverseArray">
              <!--<td class="table-id">{{item.$id}}</td>-->
              <td></td>
              <td>{{item.rut}}</td>
              <td>{{item.nombre}}</td>
              <td>{{item.origen}}</td>
              <td>{{item.fnac}}</td>
              <!--<td><a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a></td>-->
              <td><a class="btn btn-primary" ng-click="showEditForm(item)">Edit</a>
                    <a class="btn btn-danger" ng-click="removeContact(item)">Delete</a></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>